$colors: (
  neutral: (
    100: #091024,
    90: #22283a,
    80: #3c4253,
    70: #656a76,
    60: #8f939c,
    50: #a8aab1,
    40: #c2c4c8,
    30: #d9dbdd,
    20: #f1f3f7,
    10: #f7f8fa,
    00: #ffffff
    ),
    aqua: (
    00: #edfbfa,
    10: #e0f8f6,
    20: #bff1ec,
    30: #99e8e1,
    40: #73dfd6,
    50: #4dd6cb,
    60: #26cebf,
    70: #00c5b4,
    80: #00a799,
    90: #080075,
    100: #006c63,
    110: #004f48
    ),
    primary: (
    00: #eef0f5,
    10: #e2e6ee,
    20: #c2cbdc,
    30: #9dacc7,
    40: #788db2,
    50: #536d9d,
    60: #2f4e88,
    70: #0a2f73,
    80: #082862,
    90: #072150,
    100: #051a3f,
    110: #04132e
    ),
    secondary: (
    00: #eff6fa,
    10: #e3eff6,
    20: #c4deec,
    30: #a1cbe1,
    40: #7eb7d5,
    50: #5ba3ca,
    60: #4396c2,
    80: #116998,
    90: #0e577d,
    100: #0b4462,
    110: #083248
    ),
    burgundy: (
    00: #f8f1f3,
    10: #f3e6eb,
    20: #e5ccd5,
    30: #d6adbc,
    40: #c78fa3,
    50: #bd7a92,
    60: #a85270,
    70: #993357,
    80: #822b4a,
    90: #6b243d,
    100: #541c30,
    110: #3d1423
    ),
    green:(
    00: #edf7ef,
    10: #e0f0e3,
    20: #bfe1c5,
    30: #99cfa2,
    40: #73bc7f,
    50: #4daa5c,
    60: #339e45,
    70: #008616,
    80: #007213,
    90: #005e0f,
    100: #004a0c,
    110: #003609
    ),
    orange: (
    00: #fff7ed,
    10: #fff1e0,
    20: #ffe2bf,
    30: #ffd099,
    40: #ffbf73,
    50: #ffad4d,
    60: #ff9c26,
    70: #ff8a00,
    80: #d97500,
    90: #a65a00,
    100: #8c4c00,
    110: #663700
    ),
    pink:(
    00: #fff7f7,
    10: #fff1f2,
    20: #ffe1e4,
    30: #ffcfd3,
    40: #ffbec3,
    50: #ffacb3,
    60: #ff9aa2,
    70: #ff8892,
    80: #d9747c,
    90: #ab5b62,
    100: #8c4b50,
    110: #66363A
    ),
    purple: (
    00: #f5f1f8,
    10: #eee7f2,
    20: #dbcde4,
    30: #c5afd4,
    40: #af90c4,
    50: #a17cba,
    60: #8454a4,
    70: #6e3694,
    80: #5e2e7e,
    90: #4d2668,
    100: #3c1e51,
    110: #2c163b
    ),
    red:(
    00: #fdf0ef,
    10: #fbe4e3,
    20: #f7c8c5,
    30: #f2a7a2,
    40: #ed857f,
    50: #ea6f68,
    60: #e75950,
    70: #df2216,
    80: #be1d13,
    90: #9c180f,
    100: #7b130c,
    110: #590e09
    ),
    yellow: (
    00: #fffaed,
    10: #fff7e0,
    20: #ffeebf,
    30: #ffe499,
    40: #ffda73,
    50: #ffcf4d,
    60: #ffc526,
    70: #ffbb00,
    80: #d99f00,
    90: #b38300,
    100: #8c6700,
    110: #664b00
    ),
);
