$ff-sans: "Arial", sans-serif;
$ff-serif: "Times", serif;
$ff-heading: "Ubuntu", sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-heading;

$display-sizes: (
  5: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  4: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  3: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  2: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  1: clamp(2.5rem, 0.5rem + 10vw, 5rem),
);

$font-sizes: (
  150: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  140: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  130: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  120: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  110: clamp(1.25rem, 0.5rem + 10vw, 2rem),
  100: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  90: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  80: 1.75rem,
  70: 1.5rem,
  60: 1.25rem,
  50: 1rem,
  40: 0.875rem,
  30: 0.75rem,
  20: 0.675rem,
  10: 0.5rem,
);

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$heading-scale: 8;
