---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Compound Workbench">
  <main class="container">
    <section class="section">
      <div class="grid-auto-fit">
        <!-- Card -->
        <div class="card | flow">
          <div class="card-title"><h2>This is a title</h2></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
            amet adipisci iure totam! Illum quibusdam minima ut blanditiis est
            vero deserunt unde aliquam, deleniti impedit aspernatur? Explicabo
            illum iure excepturi eos commodi dignissimos mollitia architecto ab
            necessitatibus nostrum, molestiae, possimus alias asperiores ex
            velit nobis et soluta, aspernatur veniam quidem eaque inventore
            reprehenderit nisi natus!
          </p>
        </div>
        <!--Card -->
        <!-- Card -->
        <div class="card | flow">
          <div class="card-title"><h2>This is a title</h2></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
            amet adipisci iure totam! Illum quibusdam minima ut blanditiis est
            vero deserunt unde aliquam, deleniti impedit aspernatur? Explicabo
            illum iure excepturi eos commodi dignissimos mollitia architecto ab
            necessitatibus nostrum, molestiae, possimus alias asperiores ex
            velit nobis et soluta, aspernatur veniam quidem eaque inventore
            reprehenderit nisi natus!
          </p>
        </div>
        <!--Card -->
        <!-- Card -->
        <div class="card | flow">
          <div class="card-title"><h2>This is a title</h2></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
            amet adipisci iure totam! Illum quibusdam minima ut blanditiis est
            vero deserunt unde aliquam, deleniti impedit aspernatur?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
            amet adipisci iure totam! Illum quibusdam minima ut blanditiis est
            vero deserunt unde aliquam, deleniti impedit aspernatur?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
            amet adipisci iure totam! Illum quibusdam minima ut blanditiis est
            vero deserunt unde aliquam, deleniti impedit aspernatur?
          </p>
        </div>
        <!--Card -->
      </div>
    </section>
  </main>
</Layout>
