<nav>
  <ul class="menu">
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/dashboard/" title="Dashboard">Dashboard</a></li>
    <li><a href="#" title="Home">Forms</a></li>
  </ul>
</nav>
