<header class="top-nav">
    <h1>Logo</h1>
    <nav class="primary-navigation ">
        <ul class="flex-group">
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
       
    </nav>
</header>